body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}

#score-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scores {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}

button {
    background-color: lightblue;
    border-radius: 5px;
}